{% extends 'base.html' %}
{% block content %}
{{comb}}
<div class="logout">

          <form class="" action="logout" method="post">
            <br>
              {% csrf_token %}
          <input type="submit" name="" value="Logout">
          </form>
         </div>



    <br>

      <form class="" action="generate" method="post">
        <br><br><br><br>
        {% csrf_token %}
        <fieldset class="details_set1">

          <legend>Details set1:</legend>
            <p>
              <label for="subject">Dept name:</label>
              <input type="text" name="dep" value="" required id="subject">
            </p>
            <p>
              <label for="">Exam date:</label>
              <input type="date" name="date" value="" required>
            </p>
            <p>
              <label for="time">Time :</label>
              <input type="text" name="time" value="" required>
            </p>
            <p>
              <label for="subject1">SE subject:</label>
              <input type="text" name="subject1" value="" required>
            </p>
            <p>
              <label for="subject2">TE subject:</label>
              <input type="text" name="subject2" value="" required>
            </p>
            <p>
              <label for="subject3">BE subject:</label>
              <input type="text" name="subject3" value="" required>
            </p>
          </fieldset>

          <fieldset class="details_set2">
            <legend>Details_set2:</legend>
            <p>
              <label for="number">Number of students:</label><br>
            </p>
          <input type="text" name="sSEA" value="" placeholder="No. of SE A" required>
        <!--  <input type="text" name="eSEA" value="" placeholder="Ending No. of SE A" required>-->
          <input type="text" name="sSEB" value="" placeholder="No. of SE B" required>
        <!--  <input type="text" name="eSEB" value="" placeholder="Ending No. of SE B" required>-->
          <input type="text" name="sTEA" value="" placeholder="No. of TE A" required>
        <!--  <input type="text" name="eTEA" value="" placeholder="Ending No. of TE A" required>-->
          <input type="text" name="sTEB" value="" placeholder="No. of TE B" required>
      <!--    <input type="text" name="eTEB" value="" placeholder="Ending No. of TE B" required>-->
          <input type="text" name="sBEA" value="" placeholder="No. of BE A" required>
      <!--    <input type="text" name="eBEA" value="" placeholder="Ending No. of BE A" required>-->
          <input type="text" name="sBEB" value="" placeholder="No. of BE B" required>
      <!--    <input type="text" name="eBEB" value="" placeholder="Ending No. of BEB" required>-->
        <p>
          <label for="li"> Available Classroom no:</label><br>
        </p>
            <input type="text" name="l1" required>
            <input type="text" name="l2" required>
            <input type="text" name="l3" required>
            <input type="text" name="l4" required>
            <input type="text" name="l5" required>
            <input type="text" name="l6" required>
            <input type="text" name="l7" required>
            <input type="text" name="l8" required>
            <input type="text" name="l9" required>
          <p>
            <label for="li">Teacher for maximum duty:</label>
          </p>
          <input type="text" name="m1" required>
          <input type="text" name="m2" required>
          <input type="text" name="m3" required>
          <input type="text" name="m4" required>
          <input type="text" name="m5" required>
          <input type="text" name="m6" required>
          <input type="text" name="m7" required>
          <input type="text" name="m8" required>
          <input type="text" name="m9" required>
          <input type="text" name="m10" required>
          <input type="text" name="m11" required>
          <input type="text" name="m12" required>
          <input type="text" name="m13" required>
          <input type="text" name="m14" required>
          <input type="text" name="m15" required>

          <p>
            <label for="li">Teacher for minimum duty:</label>
          </p>
          <input type="text" name="s1" required>
          <input type="text" name="s2" required>
          <input type="text" name="s3" required>
          <input type="text" name="s4" required>
          <input type="text" name="s5" required>
          <input type="text" name="s6" required>
          <input type="text" name="s7" required>
          <input type="text" name="s8" required>
          <input type="text" name="s9" required>
</fieldset>
<h2 align=center>
   <input type="submit" name="generate" value="GenerateArrangement">
</h2>
</form>


{% endblock %}
